body {
	color: #594a42;
	font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
	font-size: 90%;
}

h1 {
	margin: 0.2em 0;
	text-align: center;
}

h2 {
	margin: 0.2em 0;
}

.round {
	border-radius: 3px;
}

.round > div {
	padding-bottom: 10px;
}

.note {
	font-size: 70%;
}

#centeredContainer {
	background-color: #e3ddc2;
	margin: auto;
	padding: 14px;
	width: 600px;
}

#centeredContainer > div {
	background-color: #fbfaf3;
	margin-top: 14px;
	padding: 1em;
}

#controlsContainer {
	text-align: right;
}

#controlsContainer > span {
	margin-right: 10px;
}

/* fancy save button styling */
#saveButton {
	background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color: #77b55a;
	border: 1px solid #4b8f29;
	border-radius: 3px;
	box-shadow: 0 10px 14px -7px #3e7327;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	padding: 6px 16px;
	text-decoration: none;
	text-shadow: 0 1px 0 #5b8a3c;
}

#saveButton:hover {
	background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color: #72b352;
}

#saveButton:active {
	position: relative;
	top: 1px;
}

#githubHint {
	font-size: 70%;
}

#githubHint img {
	vertical-align: text-bottom;
}