//colors
$color-kabul-approx: #594a42;
$color-stark-white-approx: #e3ddc2;
$color-bianca-approx: #fbfaf3;
$color-chelsea-cucumber-approx: #77b55a;
$color-vida-loca-approx: #4b8f29;
$color-bilbao-approx: #3e7327;
$white: #fff;
$color-hippie-green-approx: #5b8a3c;
//fonts
$noto-sans: Noto Sans;
$arial: Arial;
$helvetica: Helvetica;
$sans-serif: sans-serif;
body {
    color: $color-kabul-approx;
    font-family: $noto-sans, $arial, $helvetica, $sans-serif;
    font-size: 90%;
}

h1 {
    margin: 0.2em 0;
    text-align: center;
}

h2 {
    margin: 0.2em 0;
}

.round {
    border-radius: 3px;
    >div {
        padding-bottom: 10px;
    }
}

.note {
    font-size: 70%;
}

#centeredContainer {
    background-color: $color-stark-white-approx;
    margin: auto;
    padding: 14px;
    width: 600px;
    >div {
        background-color: $color-bianca-approx;
        margin-top: 14px;
        padding: 1em;
    }
}

#controlsContainer {
    text-align: right;
    >span {
        margin-right: 10px;
    }
}

#saveButton {
    background: linear-gradient(to bottom, $color-chelsea-cucumber-approx 5%, $color-chelsea-cucumber-approx 100%);
    background-color: $color-chelsea-cucumber-approx;
    border: 1px solid $color-vida-loca-approx;
    border-radius: 3px;
    box-shadow: 0 10px 14px -7px $color-bilbao-approx;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-family: $arial;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 16px;
    text-decoration: none;
    text-shadow: 0 1px 0 $color-hippie-green-approx;
    &:hover {
        background: linear-gradient(to bottom, $color-chelsea-cucumber-approx 5%, $color-chelsea-cucumber-approx 100%);
        background-color: $color-chelsea-cucumber-approx;
    }
    &:active {
        position: relative;
        top: 1px;
    }
}

#githubHint {
    font-size: 70%;
    img {
        vertical-align: text-bottom;
    }
}