$color-beige: #f9f7f5;
$color-beige-medium-dark: #d7d7d7;
$color-beige-dark: #f0edeb;
$color-brown: #594a42;
$color-geo-green: #02874d;
$color-geo-brown: #777;
$color-geo-link-blue: #3d76c5;

$border-radius: 4px;

.geocachingUtilsPopup {
  background-color: $color-beige;
  border: solid $color-brown 1px;
  border-radius: $border-radius;
  position: absolute;
}

#friendLogListSpinner {
  width: 22px;
}

#friendLogList {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;

  > li {
    border-radius: $border-radius;
    height: 52px;
    margin: 5px 0;
    position: static;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $color-beige-dark;
    }

    .friendAvatar {
      border-radius: $border-radius;
      float: left;
      margin: 2px;
      width: 48px;
      height: 48px;
    }

    .logDetailTable {
      padding-left: 3px;

      td {
        padding: 0;

        img {
          vertical-align: text-bottom;
        }

        .friendName {
          padding-left: 0;
          color: $color-geo-link-blue;
        }
      }
    }
  }

  .logDetailPopup {
    left: -700px;
    width: 670px;

    .markdown-output {
      margin: 16px 16px 0 16px;

      a {
        &:hover {
          border: 0;
          text-decoration: underline;
        }

        &:focus {
          border: 0;
          text-decoration: underline;
        }
      }
    }

    .log-images-table {
      margin: 0 15px 15px 15px;
      background: $color-beige-dark;
      border: 1px dashed $color-beige-medium-dark;
      padding: 2px;
      border-radius: $border-radius;

      li {
        margin: 4px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          padding-left: 5px;

          img {
            padding-right: 8px;
            height: 16px;
            width: 16px;
          }

          span {
            vertical-align: top;
          }
        }
      }
    }
  }

  .hoverBridge {
    background-color: transparent;
    height: 100%;
    left: 670px;
    position: absolute;
    width: 32px;
  }

  .line {
    position: absolute;
    top: 25px;
    left: -29px;
    height: 0px;
    width: 30px;
    border-top: dashed 1px;
  }
}