$color-beige: #fbfaf3;
$color-beige-dark: #e3ddc2;
$color-brown: #594a42;
$color-geo-green: #02874d;
$color-geo-brown: #777;
$color-geo-visited-link: #00447c;
.geocachingUtilsPopup {
  background-color: $color-beige;
  border: solid $color-brown 1px;
  border-radius: 3px;
  position: absolute;
}

.logEditorToolbar {
  padding: 0;
  font-size: 10pt;
  z-index: 999;
  li {
    list-style: none;
    display: inline-block;
  }
  > li {
    padding-right: 10px;
  }
}

.logEditorPopup {
  border: 1px solid $color-geo-brown;
  background-color: white;
  border-radius: 0;
  cursor: default;
  z-index: 1;
  &.logEditorPopupWordCount {
    width: 130px;
    img {
      display: block;
      margin: auto;
      padding: 5px 0;
      width: 100px;
    }
    span {
      display: block;
      padding: 5px 0;
      text-align: center;
    }
  }
  &.logEditorPopupInsertion {
    width: 262px;
    .popupText {
      padding-left: 5px;
    }
    > {
      .smileyList {
        padding: 0;
        > li {
          height: 26px;
          line-height: 26px;
          padding: 4px;
          text-align: center;
          width: 26px;
        }
      }
      .tagList {
        padding: 0;
        > li {
          height: 26px;
          padding: 4px;
          text-align: center;
          width: 34px;
        }
      }
    }
    > ul > li:hover {
      color: white;
      background-color: $color-geo-green;
    }
  }
}

#friendLogListSpinner {
  width: 22px;
}

#friendLogList {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  li {
    border-radius: 3px;
    height: 52px;
    margin: 5px 0;
    position: static;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      background-color: $color-beige-dark;
    }
    .friendAvatar {
      border-radius: 3px;
      float: left;
      margin: 2px;
      width: 48px;
      height: 48px;
    }
  }
  > li {
    > table td {
      padding: 0;
      img {
        vertical-align: text-bottom;
      }
    }
    .LogImagesTable td .tb_images span {
      padding-left: 3px;
    }
  }
  table {
    padding-left: 5px;
    padding-top: 5px;
    tr {
      height: 20px;
    }
  }
  .friendName {
    padding-left: 0;
    color: $color-geo-visited-link;
  }
  .logDetailPopup {
    left: -700px;
    width: 670px;
    a {
      padding-left: 0;
    }
    .markdown-output {
      margin: 1em;
      a {
        &:hover {
          border: 0;
          text-decoration: underline;
        }
        &:focus {
          border: 0;
          text-decoration: underline;
        }
      }
    }
    .tb_images.lnk {
      padding-left: 0;
    }
  }
  .hoverBridge {
    background-color: transparent;
    height: 100%;
    left: 670px;
    position: absolute;
    width: 32px;
  }
  .line {
    background-color: $color-brown;
    height: 1px;
    left: -29px;
    position: absolute;
    top: 20px;
    width: 30px;
  }
}