#friendLogList > li > table td{
	padding: 0;
}

#friendLogList > li > table td img{
	vertical-align: text-bottom;
}

#friendLogList li{
	border-radius: 3px;
	margin: 0 0 10px 0;
	height: 52px;
}

#friendLogList li:hover{
	background-color: #e3ddc2;
}

#friendLogList li img.friendAvatar{
	float: left;
	border-radius: 3px;
	margin: 2px;
	width: 48px;
}

#friendLogList table{
	padding-left: 5px;
	padding-top: 5px;
	margin-bottom: 1em;
}

#friendLogListSpinner {
	width: 22px;
}

#friendLogList div.logDetailPopup {
	position: absolute;
    background-color: #fbfaf3;
    border: solid #594a42 1px;
    border-radius: 3px;
    width: 670px;
    left: -700px;
}

#friendLogList div.hoverBridge {
	position: absolute;
	background-color: transparent;
    width: 32px;
    height: 100%;
    left: 670px;
}

#friendLogList div.line {
	position: absolute;
	background-color: #594a42;
    width: 30px;
    height: 1px;
    left: -29px;
    top: 20px;
}

#friendLogList div.logDetailPopup a.tb_images.lnk{
	padding-left: 0;
}

#friendLogList div.logDetailPopup p{
	margin: 1.5em;
}