/* General */
.geocachingUtilsPopup{
	position: absolute;
    background-color: #fbfaf3;
    border: solid #594a42 1px;
    border-radius: 3px;
}

/* LogEditorEnhancement */

.logEditorPopup {
    width: 196px;
}

.logEditorPopup .popupText {
    padding-left: 5px;
}

.logEditorPopup > ul > li {
    border-radius: 3px;
}

.logEditorPopup > ul > li:hover {
    background-color: #e3ddc2;
}

.logEditorPopup > ul.smileyList > li {
    width: 20px;
    height: 20px;
    padding: 4px;
    text-align: center;
    line-height: 26px;
}

.logEditorPopup > ul.tagList > li {
    width: 30px;
    height: 20px;
    padding: 4px;
    text-align: center;
}

/* FiendLogList */

#friendLogListSpinner {
	width: 22px;
}

#friendLogList > li > table td{
	padding: 0;
}

#friendLogList > li > table td img{
	vertical-align: text-bottom;
}

#friendLogList > li table.LogImagesTable td a.tb_images span{
    padding-left: 3px;
}

#friendLogList li{
	border-radius: 3px;
	margin: 0 0 10px 0;
	height: 52px;
}

#friendLogList li:hover{
	background-color: #e3ddc2;
}

#friendLogList li img.friendAvatar{
	float: left;
	border-radius: 3px;
	margin: 2px;
	width: 48px;
}

#friendLogList table{
	padding-left: 5px;
	padding-top: 5px;
	margin-bottom: 1em;
}

#friendLogList .friendName{
	padding-left: 0;
}


#friendLogList div.logDetailPopup {
    width: 670px;
    left: -700px;
}

#friendLogList div.hoverBridge {
	position: absolute;
	background-color: transparent;
    width: 32px;
    height: 100%;
    left: 670px;
}

#friendLogList div.line {
	position: absolute;
	background-color: #594a42;
    width: 30px;
    height: 1px;
    left: -29px;
    top: 20px;
}

#friendLogList div.logDetailPopup a.tb_images.lnk{
	padding-left: 0;
}

#friendLogList div.logDetailPopup p{
	margin: 1.5em;
}